/* container */

.ctn {
	min-width: 1221px;
	height: auto;
	position: relative;
	top: 80px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.container > * {
	margin-bottom: 10px;
	width: 100%;
}

.categories {
	height: 100px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-around;
	width: 100%;
	margin: 16px 0px;
	padding: 16px 0px;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.cat-item {
	position: relative;
	width: 80px;
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	flex-basis: 103px;
	flex-shrink: 0;
}

.cat-item > img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.cat-item > span {
	margin-top: 1px;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.54;
	color: #ecf0f1;
	width: 81px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* end container */

/* footer */

.footer {
	background-color: #2f3640;
	height: 300px;
	width: 100%;
}

/* end footer */
