/* container */
@charset "UTF-8";

.ctn {
	min-width: 1221px;
	height: auto;
	position: relative;
	top: 80px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.container > * {
	margin-bottom: 10px;
	width: 100%;
}

.categories {
	height: 100px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-around;
	width: 100%;
	margin: 16px 0px;
	padding: 16px 0px;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.cat-item {
	position: relative;
	width: 80px;
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	flex-basis: 103px;
	flex-shrink: 0;
}

.cat-item > img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.cat-item > span {
	margin-top: 1px;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.54;
	color: #ecf0f1;
	width: 81px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* products box list have filter */
.products-box-filter {
	width: 84%;
}

.products-box-filter > .box-ctn > a {
	margin: 0.5%;
}

.products-box-filter > .title-box > .filter-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products-box-filter > .title-box > .filter-box > .items {
	margin-left: 40px;
}

.pagination-page-product-box {
	width: 150px;
}
/* filter box */

.filter-box-colection {
	user-select: none;
	width: 15%;
	margin-right: 1%;
	padding-top: 10px;
}

.filter-box-colection > .title-filter {
	text-transform: uppercase;
	justify-content: flex-start;
    text-transform: uppercase;
    height: 1.875rem;
    font-weight: 700;
    font-size: 1rem;
	margin-bottom: 10px;
}

.filter-box-colection > .title-filter > svg{
	font-size: .75rem;
    margin-right: .625rem;
    stroke: currentColor;
	text-transform: uppercase;
	font-weight: 700;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.filter-box-colection > .checkboxes {
	border-top: 1px solid;
	margin: 10px;
}

.filter-box-colection > .checkboxes > .header {
	margin-bottom: 5px;
}

.filter-box-colection > .checkboxes > .more {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.filter-box-colection > .checkboxes > .more:hover {
	color: #2ecc71;
}
/*Checkboxes styles*/
.filter-box-colection > .checkboxes > input[type='checkbox'] {
	display: none;
}

.filter-box-colection > .checkboxes > input[type='checkbox'] + label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	font: 14px/20px 'Open Sans', Arial, sans-serif;
	color: #ddd;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.filter-box-colection > .checkboxes > input[type='checkbox'] + label:last-child {
	margin-bottom: 0;
}

.filter-box-colection > .checkboxes > input[type='checkbox'] + label:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #6cc0e5;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 0.12s, border-color 0.08s;
}

.filter-box-colection > .checkboxes > input[type='checkbox']:checked + label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.filter-box-colection > .btn{
	width: 100%;
}
/* end filter box */
/* product box list have filter */

/* end container */

/* footer */

.footer {
	background-color: #2f3640;
	height: 300px;
	width: 100%;
}

/* end footer */
