/* container */

.ctn {
	min-width: 1221px;
	height: auto;
	position: relative;
	top: 80px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.container > * {
	margin-bottom: 10px;
	width: 100%;
}

.categories {
	height: 100px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-around;
	width: 100%;
	margin: 16px 0px;
	padding: 16px 0px;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.cat-item {
	position: relative;
	width: 80px;
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	flex-basis: 103px;
	flex-shrink: 0;
}

.cat-item > img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.cat-item > span {
	margin-top: 1px;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.54;
	color: #ecf0f1;
	width: 81px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* top product */

.category {
	width: 100%;
	/* border: 1px solid #8c7ae6; */
	margin-bottom: 10px;
}

.name-category {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
	/* border: #f5f6fa 1px solid; */
	color: #44bd32;
	cursor: pointer;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.name-category > p {
	font-size: 2em;
	top: 50%;
	left: 50%;
	position: relative;
	width: fit-content;
	transform: translate(-50%, -50%);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-product {
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);

	width: 100%;
	height: fit-content;

	display: flex;
	/* border: #f5f6fa 1px solid; */
}

.more-product-btn {
	width: 100px;
	height: 36px;
	position: relative;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dff9fb;
	color: #130f40;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
	cursor: pointer;
}

/* --- Product Card ---- */

.product-card {
	width: 239px;
	height: 320px;
	overflow: hidden;
	margin: 0.5%;
	padding: 0;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.77);
}

.product-card > .image {
	background: url('/Assets/imgs/demo-products/demo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 64%;
	margin: 15px 0 15px 0;
}

.product-card > .detail {
	width: 100%;
	height: 26%;
}
.product-card > .detail > .name {
	height: 56%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.product-card > .detail > .price {
	margin: 0;
	width: fit-content;
	font-size: 14px;
	color: #badc58;
}
.product-card > .detail > .shop_location {
	margin: 0;
	width: fit-content;
	font-size: 14px;
	transform: translate(149px, -8px);
	color: #00a8ff;
}
/* end Product Card */

/* end top product */

/* end container */

/* footer */

.footer {
	background-color: #2f3640;
	height: 300px;
	width: 100%;
}

/* end footer */
